# Aplicación de Naive Bayes

## Descripción del contexto

La AGETIC realizó un estudio con el propósito de integrar tecnologías de software libre a los métodos de enseñanza-aprendizaje en Unidades Educativas Públicas. El objetivo de este estudio es obtener información inicial de información relevante sobre Tecnologías de Información y Comunicación TIC de las las Unidades Educativas Públicas.

|#|Nombre variable|Tipo|Descripción|
|-----|-------|------|------|
|#|parte_proyecto_inclusion| string| Esta variable indica si fue parte del proyecto de inclusión digital|
|#|sexo|	  string| Genero del profesor|
|#|edad|  string| Edad del profesor|
|#|departamento|	  string| Departamento donde trabaja el profesor|
|#|ciudad|	  string| Ciudad donde trabaja el profesor|
|#|unidad_educativa|	  string| Establecimiento donde trabaja el profesor|
|#|nivel_educacion_maximo|string| Nivel de educación del profesor|
|#|anios_experiencia|	 number| Anios de experiencia del profesor|
|#|tiempo_ue_actual|	 string| Tiempo que el profesor trabaja ene el actual establecimiento educativo|
|#|tiempo_ue_actual_num|	 numeric| mi descripcion|
|#|area_imparte|	 string| mi descripcion|
|#|paso_curso_tec|	 string| mi descripcion|
|#|curso|	 string| mi descripcion|
|#|pc_casa|	 string| mi descripcion|
|#|laptop_escritorio|	 string| mi descripcion|
|#|num_pc|	 numeric| mi descripcion|
|#|tablet|	 string| mi descripcion|
|#|num_tablet|	 numeric| mi descripcion|
|#|origen_pc|	 string| mi descripcion|
|#|pc_llenado|	 string| mi descripcion|
|#|pc_juegos|	 string| mi descripcion|
|#|pc_estudio|	 string| mi descripcion|
|#|pc_musica|	 string| mi descripcion|
|#|pc_redes|	 string| mi descripcion|
|#|pc_nada|	 string| mi descripcion|
|#|pc_planificar|	 string| mi descripcion|
|#|pc_clases|	 string| mi descripcion|
|#|pc_videos|	 string| mi descripcion|
|#|pc_internet|	 string| mi descripcion|
|#|tiene_celular|	 string| mi descripcion|
|#|tiene_smartphone|	 string| mi descripcion|
|#|cel_llamadas|	 string| mi descripcion|
|#|cel_musica|	 string| mi descripcion|
|#|cel_juegos|	 string| mi descripcion|
|#|cel_fotos|	 string| mi descripcion|
|#|cel_redes|	 string| mi descripcion|
|#|cel_text|	 string| mi descripcion|
|#|cel_videos|	 string| mi descripcion|
|#|cel_internet|	 string| mi descripcion|
|#|internet_casa|	 string| mi descripcion|
|#|internet_movil|	 string| mi descripcion|
|#|internet_colegio|	 string| mi descripcion|
|#|usa_facebook|	 string| mi descripcion|
|#|usa_youtube|	 string| mi descripcion|
|#|usa_whatsapp|	 string| mi descripcion|
|#|usa_messenger|	 string| mi descripcion|
|#|usa_instagram|	 string| mi descripcion|
|#|usa_twiter|	 string| mi descripcion|
|#|usa_linkedin|	 string| mi descripcion|
|#|usa_skype|	 string| mi descripcion|
|#|dias_uso_internet|	 numeric| mi descripcion|
|#|so|	 string| mi descripcion|
|#|conoce_soft_libre|	 string| mi descripcion|
|#|existe_laboratorio|	 string| mi descripcion|
|#|sabe_inclusion_digital| string| mi descripcion|

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import numpy as np
from scipy.stats import norm
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import VarianceThreshold

from sklearn.metrics import accuracy_score

from sklearn import preprocessing
from scipy import stats
from pandas import Series, DataFrame
from pandas.plotting import autocorrelation_plot
from pylab import rcParams
from matplotlib import collections as collections
from matplotlib.patches import Rectangle
from itertools import cycle

from mixed_naive_bayes import MixedNB


import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

rcParams['figure.figsize'] = 5,4
sb.set_style('whitegrid')
from numpy import median
from numpy import mean

In [2]:
df = pd.read_csv('../data/profesores_fin.csv')

In [3]:
df.head()
df.columns
#df.info()

Index(['parte_proyecto_inclusion', 'sexo', 'edad', 'departamento', 'ciudad',
       'unidad_educativa', 'nivel_educacion_maximo', 'anios_experiencia',
       'tiempo_ue_actual', 'tiempo_ue_actual_num', 'area_imparte',
       'paso_curso_tec', 'curso', 'pc_casa', 'laptop_escritorio', 'num_pc',
       'tablet', 'num_tablet', 'origen_pc', 'pc_llenado', 'pc_juegos',
       'pc_estudio', 'pc_musica', 'pc_redes', 'pc_nada', 'pc_planificar',
       'pc_clases', 'pc_videos', 'pc_internet', 'tiene_celular',
       'tiene_smartphone', 'cel_llamadas', 'cel_musica', 'cel_juegos',
       'cel_fotos', 'cel_redes', 'cel_text', 'cel_videos', 'cel_internet',
       'internet_casa', 'internet_movil', 'internet_colegio', 'usa_facebook',
       'usa_youtube', 'usa_whatsapp', 'usa_messenger', 'usa_instagram',
       'usa_twiter', 'usa_linkedin', 'usa_skype', 'dias_uso_internet', 'so',
       'conoce_soft_libre', 'existe_laboratorio', 'sabe_inclusion_digital'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 871 entries, 0 to 870
Data columns (total 55 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   parte_proyecto_inclusion  871 non-null    object
 1   sexo                      871 non-null    object
 2   edad                      871 non-null    int64
 3   departamento              871 non-null    object
 4   ciudad                    871 non-null    object
 5   unidad_educativa          871 non-null    object
 6   nivel_educacion_maximo    871 non-null    object
 7   anios_experiencia         871 non-null    int64
 8   tiempo_ue_actual          871 non-null    object
 9   tiempo_ue_actual_num      786 non-null    float64
 10  area_imparte              871 non-null    object
 11  paso_curso_tec            871 non-null    object
 12  curso                     591 non-null    object
 13  pc_casa                   871 non-null    object
 14  laptop_escritorio         853 non-null    object
 15  num_pc                    853 non-null    float64
 16  tablet                    871 non-null    object
 17  num_tablet                232 non-null    float64
 18  origen_pc                 871 non-null    object
 19  pc_llenado                871 non-null    object
 20  pc_juegos                 871 non-null    object
 21  pc_estudio                871 non-null    object
 22  pc_musica                 871 non-null    object
 23  pc_redes                  871 non-null    object
 24  pc_nada                   871 non-null    object
 25  pc_planificar             871 non-null    object
 26  pc_clases                 871 non-null    object
 27  pc_videos                 871 non-null    object
 28  pc_internet               871 non-null    object
 29  tiene_celular             871 non-null    object
 30  tiene_smartphone          864 non-null    object
 31  cel_llamadas              864 non-null    object
 32  cel_musica                864 non-null    object
 33  cel_juegos                864 non-null    object
 34  cel_fotos                 864 non-null    object
 35  cel_redes                 864 non-null    object
 36  cel_text                  864 non-null    object
 37  cel_videos                864 non-null    object
 38  cel_internet              864 non-null    object
 39  internet_casa             871 non-null    object
 40  internet_movil            871 non-null    object
 41  internet_colegio          871 non-null    object
 42  usa_facebook              871 non-null    object
 43  usa_youtube               871 non-null    object
 44  usa_whatsapp              871 non-null    object
 45  usa_messenger             871 non-null    object
 46  usa_instagram             871 non-null    object
 47  usa_twiter                871 non-null    object
 48  usa_linkedin              871 non-null    object
 49  usa_skype                 871 non-null    object
 50  dias_uso_internet         756 non-null    float64
 51  so                        871 non-null    object
 52  conoce_soft_libre         871 non-null    object
 53  existe_laboratorio        871 non-null    object
 54  sabe_inclusion_digital    871 non-null    object
dtypes: float64(4), int64(2), object(49)
memory usage: 374.4+ KB

### Análisis Exploratorio de Datos

In [8]:

df['tiene_smartphone'].value_counts()

Sí    775
No     89
Name: tiene_smartphone, dtype: int64

In [9]:
df['nivel_educacion_maximo'].value_counts()

licenciatura    486
normalista      172
especialidad    148
maestria         46
tecnico          17
0                 2
Name: nivel_educacion_maximo, dtype: int64

In [5]:
# grafica de 
pd.crosstab(df.nivel_educacion_maximo,df.target_y).plot(kind='bar')
plt.title('Frecuencia de profesores por nivel de educación máximo')
plt.xlabel('Nivel de educación máximo')
plt.ylabel('Frecuencia de profesores')
#plt.savefig('purchase_fre_job')

AttributeError: 'DataFrame' object has no attribute 'target_y'

In [6]:
# grafica de 
pd.crosstab(df.parte_proyecto_inclusion,df.target_y).plot(kind='bar')
plt.title('Frecuencia de profesores que son parte de un proyecto \n segun conocimiento de la inclusión digital')
plt.xlabel('Forma parte de un proyecto de inclusión')
plt.ylabel('Frecuencia de profesores')
#plt.savefig('purchase_fre_job')

AttributeError: 'DataFrame' object has no attribute 'target_y'

### Aplicación de las técnicas

In [7]:

label_encoder = preprocessing.LabelEncoder()
df['target_y'] = label_encoder.fit_transform(df['sabe_inclusion_digital'])
df['pproyinc'] = label_encoder.fit_transform(df['parte_proyecto_inclusion'])
df['neducmax'] = label_encoder.fit_transform(df['nivel_educacion_maximo'])
#df['smartphone'] = label_encoder.fit_transform(df['tiene_smartphone'])
df['gender'] = label_encoder.fit_transform(df['sexo'])
df.head()

,parte_proyecto_inclusion,sexo,edad,departamento,ciudad,unidad_educativa,nivel_educacion_maximo,anios_experiencia,tiempo_ue_actual,tiempo_ue_actual_num,...,usa_skype,dias_uso_internet,so,conoce_soft_libre,existe_laboratorio,sabe_inclusion_digital,target_y,pproyinc,neducmax,gender
0,Sí,Masculino,32,Santa Cruz,Santa Cruz de la Sierra,NACIONAL COTOCA,licenciatura,20,Más de un año,15.0,...,No,7.0,Windows,Sí,Sí,Sí,1,1,2,1
1,Sí,Masculino,38,La Paz,El Alto,PRIMAVERA B,licenciatura,19,Más de un año,5.0,...,No,5.0,Windows,Sí,Sí,Sí,1,1,2,1
2,Sí,Femenino,54,La Paz,La Paz,DOMINGO FAUSTINO SARMIENTO,especialidad,20,Más de un año,5.0,...,Sí,7.0,Linux,Sí,Sí,Sí,1,1,1,0
3,Sí,Femenino,54,La Paz,La Paz,ABRAHAM REYES FE Y ALEGRIA,licenciatura,26,Menos de un año,NaN,...,No,5.0,Windows,Sí,Sí,Sí,1,1,2,0
4,Sí,Masculino,34,La Paz,La Paz,ABRAHAM REYES FE Y ALEGRIA,licenciatura,10,Más de un año,7.0,...,No,7.0,Windows,Sí,Sí,Sí,1,1,2,1

In [16]:
#contabilizar las categorias de la variable target
df['target_y'].value_counts()

1    636
0    235
Name: target_y, dtype: int64

In [65]:
nomcol = ['pproyinc','neducmax','gender','edad','anios_experiencia','target_y']
df1=df[nomcol]
df1.head()

   pproyinc  neducmax  gender  edad  anios_experiencia  target_y
0         1         2       1    32                 20         1
1         1         2       1    38                 19         1
2         1         1       0    54                 20         1
3         1         2       0    54                 26         1
4         1         2       1    34                 10         1

In [66]:
X= df1[df1.columns[:-1]]
y= df1['target_y']
X.head()

   pproyinc  neducmax  gender  edad  anios_experiencia
0         1         2       1    32                 20
1         1         2       1    38                 19
2         1         1       0    54                 20
3         1         2       0    54                 26
4         1         2       1    34                 10

In [67]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=25)

In [68]:
clf = MixedNB(categorical_features=[0,1,2])
clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)

[2 6 2]
0.7748091603053435

### Evaluación de Modelos

In [ ]:
print(accuracy_score(y_test, y_pred))